[Desktop Entry]
Name=Asphalt Legends 
Comment=Play this game on Steam
Exec=steam steam://rungameid/1815780
Icon=steam_icon_1815780
Terminal=false
Type=Application
Categories=Game;
