[Desktop Entry]
Name=Battlefield™ 6
Comment=Play this game on Steam
Exec=steam steam://rungameid/2807960
Icon=steam_icon_2807960
Terminal=false
Type=Application
Categories=Game;
